body{
    background-color: #DDFFBC;
}
th, label, a {
    font-family: Verdana;
    text-align: center;
}
h1{
    text-align: center;
    font-family: "Prata";
    font-size: 40px;
}
#main-container{
    margin: 100px auto; 
    width: 500px;;
}
table{
    background-color: white;
    text-align:left;
    width: 100%;
}
th, td{
    border:solid 1px black;
    padding:0;
}

thead{
     background-color: rgb(120, 176, 77);
     border-bottom:solid 5px red;
     color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover{
    background-color: #abadad;
    color: white;
}
.botones{
    width: 180px;
    height: 50px;
    line-height: 40px;
    border: 1px solid #91C788;
    color: #FFFFFF;
    background: gray;
    border-radius: 35px;
    font-family: "prata";
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
    position: relative;

}